<h1>New Entry</h1>
<br>
<div class="new-location-form">
<%= form_tag("/search", method: "get", remote: true) do %>
  <%= label_tag(:q, "Growing Region or Country of Origin:") %>
  <%= text_field_tag :q, "", class: 'picture-data' %>
<%= submit_tag("Explore")%></div>
<% end %>

<div class="picture-data">
<%= render partial: 'image', collection: @images %>
<%= render partial: 'new_entry' %>
</div>
